    body {
        margin: 0;
        background: black;
        overflow: hidden;
    }

    svg {
        width: 100vw;
        height: auto;
        display: block;
    }

    .regiao {
        fill: transparent;
        stroke: transparent;
        stroke-width: 1;
        transition: all 0.2s ease;
    }

    .regiao:hover {
        stroke: white;
        fill-opacity: 0.2;
        cursor: pointer;
    }

    #infoBox {
        position: absolute;
        top: 20px;
        right: 20px;
        background: #111;
        color: white;
        padding: 12px;
        border: 1px solid #555;
        border-radius: 8px;
        max-width: 300px;
        display: none;
        font-family: sans-serif;
        z-index: 1000;
    }

    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 10px;
        border-bottom: 1px solid #444;
    }

    nav a {
        text-decoration: none;
        color: #ccc;
        font-weight: bold;
        transition: color 0.3s;
    }

    nav a:hover,
    .ativo {
        color: #d4af37;
    }


    @media (max-width: 600px) {
        nav {
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }

        nav ul {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        nav li a {
            font-size: 1rem;
            padding: 10px 15px;
        }
    }